BSP_CFE_ARCHIVE_URL=https://example.com/archive.zip

# Платформа и исходники 1С
ONE_C_PLATFORM_VERSION=8.3.27.1916
ONE_C_BASES_PATH=C:\Users\user\Documents
WORKTREE_PATH_CF=src\cf
WORKTREE_PATH_CFE_TEST=src\tests
